*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: blueviolet;
    display: inline-block;
}

.card{
    width: 40%;
    height: 200px;
    background-color: aqua;
    display: inline-block;
}

    @media (max-width: 1024px) {

        .card{
            width: 40%;
        }
    
    }
    
    @media (max-width: 479px) {

        .card{
            width: 80%;
            margin: 10px;
            display: block;
        }
    
    }